---
    import NavBar from '../components/NavBar.jsx';
    import Page from '../components/Page.astro';
    import ChatComponent from '../components/Chat';
    import api from '../const/api'

    var uss=localStorage.getItem('user');

    var user=JSON.parse(uss)[0]
    
    var abonnement=localStorage.getItem("abonnement")
    var checkAbo=true
    var nbMsg=0
    var limitMsg=5
    if(abonnement==''){
      abonnement=JSON.stringify({})
      checkAbo=false
    }else if(abonnement!=null){
      // verifier son type d'abonnement et compter le nb de messages envoyes si limite ou pas
      const abo=JSON.parse(abonnement)
      
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Accept", "application/json");

      // console.log(jsonString);
      const objNb={sender_id:user.id,date_debut:abo.date_debut}
      const objString=JSON.stringify(objNb)
      const responseNb = await fetch(api("messages/nbMsg"), {
        headers: myHeaders,
        method:'POST',
        body:objString
      });
        //console.log(await response.text());
      const reponseNb = await responseNb.json();
      
      nbMsg=reponseNb[0].nb
      if(nbMsg>=limitMsg){
        checkAbo=false
      }
      
    }
    var users:any=[]
    var messages:any=[]

    var obj={'id':user.id,'filtres':[]}
    //console.log(obj)
    const jsonString = JSON.stringify(obj);
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Accept", "application/json");

      //console.log(jsonString);
        const response = await fetch(api("userList"), {
        headers: myHeaders,
        method:'POST',
        body:jsonString
      });
      //console.log(await response.text());
      const reponse = await response.json();
    //   console.log(reponse)
      users=reponse      
    
    var idChatActive=users[0].id
    var chatActive=users[0]
    if( Astro.url.searchParams.get('id')){   
      idChatActive=Astro.url.searchParams.get('id')
      if(users.findIndex(i => i.id==idChatActive) > -1){
        chatActive=users.filter(i => i.id == idChatActive)[0]
      }
    }
---

<Page title="Site rencontre - Chat">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <!-- <div class="container-fluid h-100"> -->
        <NavBar />
        <ChatComponent user={user} users={users} nbMsg={nbMsg} checkAbo={checkAbo} abonnement={abonnement} chatActive={chatActive}  client:load/>
    <!-- </div> -->
</Page>
