---
import Page from '../components/Page.astro'
import NavBar from '../components/NavBar.astro'
import ProfileAbout from '../components/Profile_about.astro'
import ProfileAccount from '../components/Profile_Account.astro'
import ProfilePhoto from '../components/Profile_photo.astro'
import ProfleEdit from '../components/Profile_edit.jsx'
import api from "../const/api"
import ProfileVues from '../components/Profile_Vues.astro'

const id = Astro.url.searchParams.get('id');
const userr=localStorage.getItem("user");
var moi=1
if(userr!=null){
    var current_user=JSON.parse(userr)
    current_user=current_user[0].id
    if(id!=current_user){
        var obj={'visitor_id':current_user,'visited_id':id}
		const jsonString = JSON.stringify(obj);
		var myHeaders = new Headers();
		myHeaders.append("Content-Type", "application/json");
      	myHeaders.append("Accept", "application/json");

      //console.log(jsonString);
      	const response = await fetch(api('views/add'), {
        headers: myHeaders,
        method:'POST',
        body:jsonString
      });
      //console.log(await response.text());
      const reponse = await response.json();
        moi=0
    }
}

const [user] = await fetch(api('users/'+id)).then((response) => response.json());
//const [vue] = await fetch(api('vues/nb/'+id)).then((response) => response.json());
const vues = await fetch(api('views/visitor/'+id)).then((response) => response.json());
// console.log(vues)
var nbVue=0
if(vues.length!=0)  nbVue=vues.length
//console.log(vues);
---

<Page title="Site rencontre" >
	<!--Header & Cart-->
	<NavBar/>

	<style>
		.insight {
            width: 100%;
            height: 100%;
        }

        .profile-pic-div {
            width : 300px;
            height: 300px;
			margin: auto;
            /* top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%); */
            border-radius: 50%;
            overflow: hidden;
            border: 10px solid grey;
        }

        #imgPhoto {
            height: 100%;
            width: 100%;
        }

        #uploadBtn {
            margin-bottom: 0;
            height: 50px;
            width: 100%;
            position: absolute;
            /* bottom: 0; */
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            color: white;
            display: none;
            cursor: pointer;
        }

        #uploadBtn.show {
            transition: opacity 0.6s linear;;
        }
	</style>

	<!-- <script>
		const imgDiv = document.querySelector('.profile-pic-div');
        const img = document.querySelector('#imgPhoto');
        const file = document.querySelector('#file');
        const uploadBtn = document.querySelector('#uploadBtn');

        imgDiv.addEventListener('mouseenter', function() {
            uploadBtn.style.display = 'block';
        });

        imgDiv.addEventListener('mouseleave', function() {
            uploadBtn.style.display = 'none';
        })

        file.addEventListener('change', function() {
            const choosedFile = this.files[0];
            if(choosedFile) {
                const reader = new FileReader();

                reader.addEventListener('load', function() {
                    img.setAttribute('src', reader.result);
                })

                reader.readAsDataURL(choosedFile);
            }
        })
	</script> -->

    <!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="p-t-33">
				<div class="profile-pic-div bg-dark">
					<img src="/photo/default.jpg" id="imgPhoto" class="insight" />
					<!-- <input type="file" id="file" name="profile_picture" hidden /> 
					<label for="file" id="uploadBtn">Choisir une photo</label> -->
				</div>
				<div class="mt-4">
					<h2 class="text-center">{user.pseudo}</h2>
                    <p class="text-center">{nbVue} vue(s)</p>
				</div>
			</div>

			<div class="bor10 mt-4 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#about" role="tab">A propos</a>	
						</li>

                        {moi==1 &&
						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#myAccount" role="tab">Mon compte</a>
						</li>
                        }

						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#photo" role="tab">Photo</a>
						</li>

                        {moi==1 &&
                        <li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#vues" role="tab">Vues</a>
						</li>
                        }
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
                        
						<ProfileAbout user={user} moi={moi} />
                        <!-- Edit profile modal -->
                        
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" data-backdrop="static" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" style="top: 15%;" role="document">
                                <ProfleEdit user={user} client:load />
                            </div>
                        </div>
                        
						<!-- - -->
						{moi==1&&
						<ProfileAccount user={user} />
                        }
						<!-- - -->

						<ProfilePhoto />

                        <!-- - -->
                        {moi==1&&
						<ProfileVues vues={vues} />
						}
					</div>
				</div>
			</div>
		</div>
	</section>

</Page>